body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    font-weight: normal;
}
.logo {
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul{
    list-style-type: none;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    color: #404BBF;
}
nav a:focus {
    color: #404BBF;
}
.address ul {
    list-style-type: none;
}
.address a {
    text-decoration: none;
}
.address a:focus {
    color: #404BBF;
}
.address a:hover {
    color: #404BBF;
}
h1 {
    font-size: 56px;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.button {
    size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    background-color: #4D5AE5;
    color: #ffffff;
    border: none;
    
}
.button:hover {
    background-color: #2E2F42;
}
.title {
    background-color: #2E2F42;
}
.features ul {
    list-style-type: none;
}
.team h2 {
    text-align: center;
    font-weight: bold;
    size: 36px;
    letter-spacing: 2%;
}
.team {
    background-color: #F4F4FD;
}
.team ul {
    background-color: #ffffff;
    list-style-type: none;
}
.team h3 {
    text-align: center;
    font-weight: medium;
    size: 20px;
    letter-spacing: 2%;
}
.team p {
    text-align: center;
    size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
}
.portfolio h2 {
    text-align: center;
    font-weight: bold;
    size: 36px;
    letter-spacing: 2%;
}
.portfolio ul {
    list-style-type: none;
}
.portfolio h3 {
    text-align: center;
    font-weight: medium;
    size: 20px;
    letter-spacing: 2%;
}
.portfolio p {
    text-align: center;
    size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
}
.footer {
    background-color: #2E2F42;
    color: #ffffff;
}
.Web {
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
}
.Studio {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
.Studio2 {
    color: #2E2F42;
    text-transform: uppercase;
    text-decoration: none;
}