body {
    background-color: #ffffff;
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: normal;
}

ul {
    list-style: none;
}
.logo {
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-list a {
    text-decoration: none;
    color: #2E2F42;
}
.nav-list a:hover {
    color: #404BBF;
}
.nav-list a:focus {
    color: #404BBF;
}
.address {
    font-style: normal;
}
.address a {
    text-decoration: none;
    color: #434455;
}
.address a:focus {
    color: #404BBF;
}
.address a:hover {
    color: #404BBF;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.button {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
.button:hover {
    background-color: #404BBF;
}
.title {
    background-color: #2E2F42;
}
.features-list {
    color: #2E2F42;
}
.section-title {
    color: #2E2F42;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
}
.team {
    background-color: #F4F4FD;
}
.team-list li {
    background-color: #ffffff;
    color: #2E2F42;
}
.team-name {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.team-role {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio-category {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}
.web {
    color: #4D5AE5;
    text-transform: uppercase;
}
.studio {
    text-transform: uppercase;
    color: #F4F4FD;
}
.studio2{
    color: #2E2F42;
    text-transform: uppercase;
    text-decoration: none;
}
.footer a {
    text-decoration: none;
}
.web2 {
    text-decoration: none;
}