body {
    background-color: #ffffff;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: normal;
}

ul {
    list-style: none;
}
.logo {
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color: #2E2F42;
}
nav a:hover {
    color: #404BBF;
}
nav a:focus {
    color: #404BBF;
}
.address {
    font-style: normal;
}
.address a {
    text-decoration: none;
    color: #2E2F42;
}
.address a:focus {
    color: #404BBF;
}
.address a:hover {
    color: #404BBF;
}
.hero-title {
    font-size: 56px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.button {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
.button:hover {
    background-color: #404BBF;
}
.title {
    background-color: #2E2F42;
}
.features-list {
    color: #2E2F42;
}
.features h2 {
    color: #2E2F42;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
}
.team h2 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team-list li {
    background-color: #ffffff;
    color: #2E2F42;
}
.team h3 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.team p {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.portfolio h2 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio p {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2E2F42;
}
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}
.web {
    color: #4D5AE5;
    text-transform: uppercase;
}
.studio {
    text-transform: uppercase;
    color: #F4F4FD;
}
.studio2{
    color: #2E2F42;
    text-transform: uppercase;
    text-decoration: none;
}
.footer a {
    text-decoration: none;
}
.web2 {
    text-decoration: none;
}